# Ignore evaluation frameworks
llava_eval/lmms-eval/
llava_eval/LLaVA-NeXT/

llava_eval

# Optional: ignore Python cache
__pycache__/
*.pyc
*.pyo

# Optional: ignore virtual environments
.venv/
venv/

llava

# Optional: ignore OS junk
.DS_Store
Thumbs.db
